@font-face {
    font-family: 'Aptos-Bold';
    src: url('../fonts/Aptos-Bold.ttf') format('truetype');
    font-weight: 700;
    /* bold */
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('../fonts/Aptos.ttf') format('truetype');
    font-weight: 700;
    /* bold */
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Aptos', sans-serif;
}

body {
    padding: 20px;
    background-image: url("../img/flashcardbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    position: relative;
}

#flashcards-container {
    background-color: white;
    padding: 2.5em;
    padding-top: 1.5em;
    max-width: 1200px;
    height: 590px;
    width: 100%;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#tab_and_logo {
       max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

#tab {
    padding-left: 1.2em;
    padding-right: 1em;
    background-color: #66B6E2;
    width: 390px;
    height: 70px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    font-family: 'Aptos-Bold';
    font-size: 2.2em;
    display: flex;
    justify-content: left;
    align-items: center;
}

.flash_card {
    width: 530px;
    height: 125px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    margin-left: 0;
    margin-right: 0;
}

.discovery_logo {
    width: 40px;
    height: 40px;
    /* margin-left: 1em; */
    margin-right: 0.8em;
}

#flash_instruct_text p {
    font-size: 1.8em;
    margin: 0px;
    margin-bottom: 10px;
}

#flash_instruct_text span {
    font-family: 'Aptos-Bold';
}

#flash_instruct_text {
    border-bottom: #66B6E2 2px solid;
    margin-bottom: 1.5em;
}

.flash_card_inner {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background-color: #66b6e2;
    border-radius: 20px;
}

.flash_card_inner.flipped {
    transform: rotateY(180deg);
}

.flash_card_front,
.flash_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
    background-color: #66b6e2;
    font-family: 'Aptos-Bold', sans-serif;  
    font-size: 3em;
}

.flash_card_back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    font-family: 'Aptos';
    font-size: 1em;
}

.flash_card_back button {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #ccc;
}

.buttons_set button {
    border: #66b6e2 5px solid;
    border-radius: 10px;
    font-size: 2.2em;
}

.buttons_set .selected {
    background-color: black;
    color: white
}

.card_button_pair {
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    opacity: 0;
}

.buttons_set {
    margin-top: 1em;
    margin-left: 1em;
    flex-direction: column;
    gap: 5px;
    background-color: #e0f5ff;
    height: 408px;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2.5em;
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.buttons_set button,
#overall_dialog_feedback button,
#setdialog_feedback button {
    height: 85px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
}

.buttons_set button:nth-of-type(3) {
    margin-bottom: 0px;
}

.hide {
    display: none;
}

.reveal {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#overall_dialog_feedback,
#setdialog_feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1em;
    z-index: 1000;
    font-size: 2em;
    border-radius: 25px;
    width: 650px;
    height: 350px;
    background-color: #66b6e2;
    opacity: 0.9;
}


#overall_dialog_feedback p,
#setdialog_feedback p {
    font-family: 'Aptos-Bold';
}

#setdialog_feedback button,
#overall_dialog_feedback .refresh_button {
    background-color: #e0f5ff;
    border: none;
    width: 250px;
    border-radius: 10px;
    position: relative;
    bottom: -100px;
}

#overall_dialog_feedback .refresh_button {
    position: relative;
    bottom: -75px;
}

.continue_button,
.refresh_button {
    font-family: 'Aptos-Bold';
    font-size: 1em;
}

.button_column {
    padding-left: 2em;
}

.hg_logo {
    height: 141px;
    position: relative;
    top: -88px;
    left: -3px;
}

.buttons_set.disabled {
  opacity: 0.5;            
  pointer-events: none;  
  user-select: none;       
}


@media (max-width: 712px) {
    .card_button_pair {
        flex-direction: column;
        align-items: center;
    }

    .buttons_set {
        margin-left: 0px;
        margin-top: 0.5em;
    }

    #flashcards-container {
        max-width: 398px;
    }

    .flash_card {
        margin: 0px;
    }
}

@media (max-width: 500px) {
    #flashcards-container {
        max-width: 318px;
    }

    .flash_card {
        width: 320px;
        height: 180px;
        margin: 0px;
    }
}